/**
 * @author Ikaros Kappler
 * @date   2018-03-25
 **/

.inline {
    display : inline-block;
}

.row div:nth-child(1) {
    width : 10%;
}

.row div:nth-child(2) {
    width : 90%;
}

.begin {
    
}

.end {

}

.pass {
    color : green;
}

.fail {
    color : red;
}

.except {
    color : orange;
}
	